/* .MuiTableRow-root css-34nofg-MuiTableRow-root:hover {
    background-color: aqua;
    cursor: pointer;
} */

.btn-success{
    background-color: #0FE4BD;
}

.btn-success:hover{
    background-color: #0fe4c8;

}